body {
    font-family: Verdana, serif;
    text-align: center;
}
h3 {
    padding: 5px;
}
table, td, th {
    padding: 5px;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}