<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
<!--    <link rel="stylesheet" href="style.css" type="text/css"/>-->
</head>
<body>
    <h3>List of all our cars:</h3>
    <table>
        <thead>
            <th>Id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
<!--            <th>Registration</th>
            <th>Mileage</th>-->
            <th>Availability</th>
        </thead>
        <tbody>
            <tr th:each="car : ${cars}">
                <td><span th:text="${car.id}"/></td>
                <td><span th:text="${car.brand}"/></td>
                <td><span th:text="${car.model}"/></td>
                <td><span th:text="${car.price}"/> PLN/day</td>
<!--                <td><span th:text="${car.registration}"/></td>-->
<!--                <td><span th:text="${car.mileage}"/></td>-->
                <td><span th:text="${car.available}"/></td>
                <td th:switch="${car.available}? ${true} : ${false}">
                    <a th:case="${false}" th:href="@{/hire/return?id=} + ${car.id}"><input class="btn" type="button" value="Return a car"></a>
                    <a th:case="${true}" href="/hire/create"><input class="btn" type="button" value="Rent a car"></a>
                </td>
                <td><a th:href="@{/cars/delete?id=} + ${car.id}">Delete</a></td>
                <td><td><a th:href="@{/cars/edit?id=} + ${car.id}">Edit</a></td>
                <td><a th:href="@{/cars/car/{id}(id=${car.id})}">Check details</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/cars/create}"><input type="button" value="Add a new car to out database"></a></br>
    <a href="/"><input type="button" value="Come back to our main page"></a>
</body>
</html>