<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a car</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
    <h3>Add a new car to our database!</h3>
    <form th:action="@{/cars/create}" method="POST" th:object="${car}">
        <table>
            <!--            <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${car.id}"/></td></tr>-->
            <tr><td>Brand:</td><td><input type="text" id="brand" name="brand" th:value="${car.brand}"/></td></tr>
            <tr><td>Model:</td><td><input type="text" id="model" name="model" th:value="${car.model}"/></td></tr>
            <tr><td>Registration:</td><td><input type="text" id="registration" name="registration" th:value="${car.registration}"/></td></tr>
            <tr><td>Mileage:</td><td><input type="text" id="mileage" name="mileage" th:value="${car.mileage}"/></td></tr>
            <tr><td>Price per 24 hours (PLN):</td><td><input type="text" id="price" name="price" th:value="${car.price}"/></td></tr>
            <tr><td>Availability:</td><td><input type="text" id="available" name="available" th:value="${car.available}"/></td></tr>
            <tr><td></td><td> <button type="submit">Apply</button></td></tr>
        </table>
    </form>
    </br>
    <a href="/"><input type="button" value="Come back to our main page"></a>
</body>
</html>