<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wypożycz samochód!</title>
    <style>
        h3 {
            padding: 5px;
        }
        table, td, th {
            padding: 5px;
            border-collapse: collapse;
            text-align: center;
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }
        body {
            font-family: Verdana, serif;
            text-align: center;
        }
    </style>
</head>
<body>
    <h3>Add a new hire!</h3>
    <form th:action="@{/hire/create}" method="POST" th:object="${hire}">
        <table>
            <!--            <tr><td></td><td><input type="hidden" id="id" name="id" th:value="${car.id}"/></td></tr>-->
            <tr><td>Car ID:</td><td><input type="text" id="carId" name="carId" th:value="${hire.carId}"/></td></tr>
            <tr><td>Driver ID:</td><td><input type="text" id="driverId" name="driverId" th:value="${hire.driverId}"/></td></tr>
            <tr><td>Date of rental:</td><td><input type="date" id="hireDate" name="hireDate" th:value="${hire.hireDate}"/></td></tr>
            <tr><td>Date of return:</td><td><input type="date" id="returnDate" name="returnDate" th:value="${hire.returnDate}"/></td></tr>
            <tr><td>Expected mileage:</td><td><input type="text" id="mileage" name="mileage" th:value="${hire.mileage}"/></td></tr>
            <tr><td></td><td> <button type="submit">Approve</button></td></tr>
        </table>
    </form>
    </br>
    <button><a href="/">Come back to our main page</a></button>
</body>
</html>