<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
<table>
    <thead>
    <tr bgcolor="#d3d3d3"><b>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th colspan="2">Options</th>
    </b></tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td align="center", width="30px"><span th:text="${driver.id}"/></td>
        <td align="center", width="100px"><span th:text="${driver.name}"/></td>
        <td align="center", width="200px"><span th:text="${driver.surname}"/></td>
        <td align="center", width="200px"><span th:text="${driver.email}"/></td>

        <td class="option"><a th:href="@{../edit?id=} + ${driver.id}">Edit</a></td>
        <td class="option"><a th:href="@{../delete?id=} + ${driver.id}">Delete</a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/driver/create}"><input type="button" value="Add a new driver to out database"></a></br>
<a href="/"><input type="button" value="Come back to our main page"></a>
</body>
</html>